.someClass {
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.affair {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

}

.item {
    display: flex;
    justify-content: flex-start;
    width: 100px;
    margin: 0 auto;
}

.high {
    color: #ff0909;
}

.middle {
    color: #e8e825;
}

.low {
    color: #0cfd0c;
}