
.greeting {
    display: flex;
    align-items: flex-start;
}

.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    height: 20px;
    margin-left: 10px;
}

.count {
    margin: 10px;
}

input {
    margin: 10px;
    outline: none;
}


button {
    margin: 10px;
    height: 20px;
    width: 40px;
}